.navbar{
  padding-top: .9rem;
}

#modi-nav{
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.navbar-nav{
  font-family: 'Oxygen', sans-serif;
  font-size: 0.9rem;
}

.navbar-brand{
  font-family: 'Supermercado One', cursive;
}

#contenido{
  padding-top: 2rem;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.content-cont{
  outline: red 1px solid;
  width: 13vw;
  height: 9.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text-stock{
  background-color: #0d6efd;
  width: 5vw;
  margin-bottom: 0;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center-conta{
  margin-bottom: 0;
}

#btn_cart{
  font-size: 1rem;
}






