/*Reseteo p*/
p{
  margin-bottom: 0 !important;;
}

/*Navbar*/

.navbar{
  padding-top: .9rem;
}

#modi-nav{
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.navbar-nav{
  font-family: 'Oxygen', sans-serif;
  font-size: 0.9rem;
}

.navbar-brand{
  font-family: 'Supermercado One', cursive;
  font-size: 1.32rem !important;
}

/*Contenido*/

#contenido{
  padding-top: 2rem;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

/*Boton*/

.content-cont{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.text-stock{
  background-color: #0d6efd;
  width: 4.7vw;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn_cart{
  font-size: 1rem;
  margin-top: 0.3rem;
}

/*estilos de los productos/cards*/

.item-contenedor{
  background-color: rgb(211, 228, 228);
  padding: 1rem;
  border-radius: 0.9rem;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-product{
  font-family: 'Supermercado One', cursive;
}

h4{
  font-family: 'Supermercado One', cursive;
  text-align: left;
  margin-top: 1vh !important;
}

/*Estilos del Item Detail */

.item-detail-contenedor{
  /*outline: red solid;*/
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-detail-product{
  padding: 1.5rem;
  background-color: rgb(214, 214, 214);
  width: 45%;
  display: flex;
  justify-content: center;
}

.info-detail-product{
  /*outline: green solid;*/
  display: flex;
  flex-direction: column;
  font-family: 'Oxygen', sans-serif;
  justify-content: space-evenly;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
}

h2{
  font-family: 'Supermercado One', cursive;
}

h6{
  background-color: #f8f8f8;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(131, 131, 131);
  width: 100%;
}





