.navbar{
  padding-top: .9rem;
}

.navbar-nav{
  font-family: 'Oxygen', sans-serif;
  font-size: 0.9rem;
}

.navbar-brand{
  font-family: 'Supermercado One', cursive;
}

.rojo {
  background-color: red;
  height: 100px;
}





